/.vscode
/13feb.exe
/2feblab.exe
/AIlab
/backend
/backened
/charofstrings.exe
/cppprogramming
/cpprevision.exe
/cprogramming
/da
/dsa
/factbyrecursion.exe
/game
/hackslash
/hi.txt
/java
/mern
/myprojectsweb
/node_modules
/package-lock.json
/package.json
/recursions.exe
/registration
/revision.exe
/siusingfunc.exe
/webltechlab